@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  font-feature-settings: "liga" 1, "calt" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

.animate-typewriter {
  position: relative;
}

.animate-typewriter::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  animation: typewriter 1s steps(18) forwards;
}

@media (max-width: 1920px) {
  .px-\[805px\] {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 1280px) {
  .px-\[805px\] {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 768px) {
  .px-\[805px\] {
    padding-left: 5%;
    padding-right: 5%;
  }
}